@charset "UTF-8";

html {
    font-size: 62.5%;
}
*,*::before,*::after {
    box-sizing: border-box;
}


body {
    background: #f9f9f9 url('../images/bg.jpg') no-repeat fixed left bottom;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Crimson Text", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}



header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
    padding: 30px 30px 0;
    z-index: 10000;
}

.container-big {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header ul {
    list-style: none;
}

.contents-bar {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.contents-bar a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.contents-bar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: red;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.contents-bar a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.contents-bar a:hover {
    opacity: 0.6;
}

.header li {
    margin-right: 20px;
    letter-spacing: 1px;
}

.header li:last-child {
    margin-right: 0;
}

.header a {
    color: #fff;
    text-decoration: none;
}


.head-sns {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.head-sns a {
    display: inline-block;
    text-align: center;
}

/* facebook */
.facebook-color a:hover   {
	color: #445FAC;
}
/* Twitter */
.twitter-color a:hover {
	color: #00a8e8;
}

/* Behance */
.behance-color a:hover {
    color: #1769ff;
}




.main {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));*/
    padding: 130px 30px 80px;
}


.site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.site-title-sub::before,
.site-title-sub::after {
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}

.site-title {
    margin: 50px 0 40px;
    font-size: 7rem;
    letter-spacing: 1px;
}

.site-description {
    margin-bottom: 50px;
    color: #fff;
    font-size: 2rem;
}


/*--- main containt ---*/


.about {
    padding: 80px 0;
    background-color: #fff;
    color: #252525;
}

.about-wrapper {
    width: 80%;
    margin: 50px auto 0;
}

.heading {
    margin: 30px 0 45px;
    letter-spacing: 2px;
    font-size: 4rem;
}

.heading::before,
.heading::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 20px;
    border: 1px solid;
    vertical-align: 4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pic-icon {
    border-radius: 50%;
}

.about-text {
    margin: 30px 0;
    line-height: 2.5;
}


/*--- about me ---*/


.works {
    background-color: #aaa;
    padding: 80px 0;
}




/*--- works ---*/


.skills {
    background-color: #fff;
    color: #252525;
    padding: 80px 0;
}

.skills-wrapper{
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}

.skill-box{
    display: table-cell;
}

/*icon font awesome*/

.skill-icon{
    width: 140px;
    height: 140px;
    margin-bottom: 30px;
    border: 4px solid;
    border-radius: 50%;
    color: #E388FF;
    font-size: 7rem;
    line-height: 132px;
}

.skill-title{
    margin: 0 20px 20px;
    font-size: 2rem;
}

.skill-text{
    margin: 0 20px;
    line-height: 2;
}


/*--- my skills ---*/


.contact{
    padding: 80px 0;
}

.contact-form{
    width: 50%;
    margin: 50px auto 0;
}

.contact-form input[type=text],
.contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(0,0,0,0.05);
    color: #fff;
}

.contact-form input[placeholder=NAME],
.contact-form textarea {
    color: #fff;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus{
    box-shadow: 0 0 8px rgba(255,255,255,0.5) inset;
}

.contact-form textarea{
    height: 150px;
}

.contact-form input[type=submit]{
    display: block;
    width: 50%;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.contact-form input[type=submit]:hover{
    background-color: rgba(255,255,255,0.05);
}

/*Contact*/




/*--- sns-icon ---*/
.foot-sns ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.foot-sns li {
    margin-right: 15px;
}

.foot-sns li:last-child {
    margin-right: 0;
}

.foot-sns a {
    display: block;
    color: inherit;
    font-size: 24px;
    text-decoration: none;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
}

.foot-sns a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.footer span {
    color: #fff;
}



@media (min-width: 768px) {
    /* 大きな画面用の設定 */
    .toggle {
        display: none;
    }
}




@media (max-width: 768px) {
    body {
        font-size: 1.3rem;
    }

    .toggle {
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        cursor: pointer;
    }

    .toggle:hover {
        opacity: 0.5;
    }

    .container-small {
        align-items: center;
        justify-content: flex-start;
    }

    .contents-bar {
        display: none;
    }

    /*.head-sns {
        display: none;
    }*/

    .site-title-sub {
        font-size: 1.7rem;
    }

    .site-title-sub::before,
    .site-title-sub::after {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    .site-title {
        margin-top: 35px;
        font-size: 4.5rem;
    }

    .main {
        padding-top: 100px;
    }

    .heading {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    .heading::before,
    .heading::after {
        width: 12px;
        height: 12px;
        margin: 0 15px;
        vertical-align: 2px;
    }

    .pic-icon {
        width: 130px;
        height: 130px;
    }

    .about-text {
        line-height: 1.8;
    }


    .skills-wrapper,
    .skill-box {
      display: block;
    }
    .skill-box {
      margin: 40px auto;
    }
    .skill-icon {
      width: 100px;
      height: 100px;
      font-size: 5rem;
      line-height: 92px;
    }
    .skill-text {
      margin: 0;
    }

    .contact-form{
        display: inline-block;
    }

    .foot-sns a {
        font-size: 16px;
    }

    .footer p {
        font-size: 12px;
    }
}
