@charset "UTF-8";


#main{
    width: 667px;
    height: 375px;
    overflow: hidden;
    background: url("../image/bg_main.png") no-repeat top left;
    background-size: 667px 375px;
}

/*.all img{
    width: 50%;
    height: 50%;
}*/

/*---- images size ----*/

#bg1 img{
    width: 667px;
    height: 31px;
}

#bg2 img{
    width: 667px;
    height: 59px;
}

#maku1 img{
    width: 667px;
    height: 98px;
}

#maku_right img{
    width: 177px;
    height: 375px;
}

#maku_left img{
    width: 158px;
    height: 375px;
}

#hurudokei img{
    width: 170px;
    height: 170px;
}

#morikuma img{
    width: 170px;
    height: 170px;
}

#inunoomawari img{
    width: 170px;
    height: 170px;
}

#select img{
    width: 154px;
    height: 35px;
}

#add_song img{
    width: 31px;
    height: 34px;
}

#song_num img{
    width: 41px;
    height: 22px;
}

#how_to img{
    width: 20px;
    height: 36px;
}

#sound_on img{
    width: 40px;
    height: 25px;
}

#title_logo img{
    width: 387px;
    height: 307px;
}

#letter img{
    width: 171px;
    height: 29px;
}

#version img{
    width: 50px;
    height: 22px;
}

#year img{
    width: 83px;
    height: 22px;
}


/*---- background ----*/

#bg_main{
    position: relative;
}

#bg1{
    position: absolute;
    top: 344px;
    z-index: 9;
}

#bg2{
    position: absolute;
    top: 304px;
}

#maku1{
    position: absolute;
    top: 0px;
    z-index: 10;
}

#maku_right{
    position: absolute;
    top: 0;
    left: 490px;
    z-index: 9;
}

#maku_left{
    position: absolute;
    top: 0px;
    z-index: 9;
}


/*---- songlist ----*/
/*#hurudokei{
    position: absolute;
    top: 125px;
}

#inunoomawari{
    position: absolute;
    top: 125px;
    left: 504px;
}

#morikuma{
    position: absolute;
    top: 125px;
    left: 250px;*/
    /*position: relative;
    width: 339px;
    height: 339px;
    top: -625px;
    left: 250px;
    }*/


/*#morikuma a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-indent:-999px;
}*/


/*---- option_btn ----*/

#select{
    position: absolute;
    top: 25px;
    z-index: 11;
    left: 259px;
}

#add_song{
    position: absolute;
    top: 323px;
    left: 10px;
    z-index: 10;
}

#song_num{
    position: absolute;
    top: 325px;
    left: 310px;
    z-index: 10;
}

#how_to{
    position: absolute;
    top: 273px;
    left: 630px;
    z-index: 10;
}

#sound_on{
    position: absolute;
    top: 333px;
    left: 615px;
    z-index: 10;
}

#title_logo{
    position: absolute;
    top: 0;
    left: 140px;
}

#letter{
    position: absolute;
    top: 320px;
    left: 250px;
}

#version{
    position: absolute;
    top: 332px;
    left: 80px;
    z-index: 10;
}

#year{
    position: absolute;
    top: 332px;
    left: 510px;
    z-index: 10;
}



#sampleViewport{
    position: absolute;
    top: 125px;
    left: -6px;
    z-index: 8;
}

.viewport {
    width: 673px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap {
    width: 1000%;
    overflow: hidden;
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.item {
    float: left;
    margin-right: 85px;
    /*width: 163px;*/
}
