.animation .anm_mod {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 1s ease;
}
.animation .anm_mod01 {
  opacity: 0;
  transform: translate3d(0, 10%, 0);
  transition: all 1s ease;
}

.animation .left {
    transform: translate3d(-10%, 0, 0);
}

.animation .right {
    transform: translate3d(100%, 0, 0);
}

.animation .delay {
    transition: all 1s ease;
}

.animation .fast {
    transition: all 0.8 ease;
}

.animation .anm_mod.active {
 opacity: 1;
 transform: translate3d(0, 0, 0);
}
.animation .anm_mod01.active {
 opacity: 1;
 transform: translate3d(0, 0, 0);
}


.css-fade--in{
  animation-name:fade-in1;
  animation-timing-function: ease-in-out;
  animation-iteration-count:1;
  animation-direction:normal;
  animation-fill-mode: forwards;
}

.fade1{
  animation-duration:1s;
}
.fade2{
  animation-duration:1.2s;
}
.fade3{
  animation-duration:1.4s;
}

@keyframes fade-in1 {
  0% {opacity: 0; transform: translate3d(0,80px,0);}
  100% {opacity: 1; transform: translate3d(0,0,0);}
}
